<div ng-class="{'pt-page-current': $ctrl.show == 'welcome'}"  id="welcomePage" class="pt-page pt-page-moveToTop pt-page-moveFromTop pt-page-ontop">
    <div class="welcome-tron">
        <h1>DomEngine</h1>
        <p class="text">An attempt to make randomizing Dominion playsets easy</p>
        <p class="text">
            <small style="line-height: .5rem;">
                All images served from the
                <a href="http://wiki.dominionstrategy.com/index.php/Main_Page" target="blank">Dominion Strategy Wiki</a>,
                and are available under
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
                    Creative Commons Attribution Non-Commercial Share Alike
                </a>
            </small>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="margin-top: 20px;">
                    <a href="/inventory" class="btn btn-outline-success">Card Database</a>
                </div>
            </div>
        </div>
    </div>
</div>
