@import "_variables.scss";
@import "_page_transitions.scss";
@import "_nav.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Yatra One', cursive;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dom-card {
  width: 10rem; 
  height: 15.85rem;
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.card.enlarge {
  width: 15rem;
  height: 23.775rem;
}

.card-image{
  width:100%;
  height: auto;
}

.welcome-tron {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 450px;
  text-align: center;
}

@media(min-width: 768px){
  .welcome-tron h1 {
    font-size: 6rem;
  }
}
.welcome-tron .text {
  max-width: 468px;
  margin: auto;
}

.build-form {
  margin-top: 50px;
}

#build {
  margin-top: 1rem;
  width: 30%;
}

.btn-outline-secondary {
  color: $gray-dark;
  background-image: none;
  background-color: transparent;
  border-color: $gray-dark;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus{
  color: $gray-dark;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $gray-light;
  border: 1px solid darken($gray-light, 10%);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#helpText {
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: $gray-lighter;
  border-top: 1px $gray-dark solid;
  bottom: 0;
  transform: scale(0);
}

#helpText.show {
  -webkit-animation: miniSlideUp 0.15s ease;
  -moz-animation: miniSlideUp 0.15s ease;
  animation: miniSlideUp 0.15s ease;
  transform: scale(1);
}

@-webkit-keyframes miniSlideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-400px);
  }
}
@keyframes miniSlideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-400);
  }
}

.welcome-footer {
  position:fixed;
  bottom: 0;
  left:0; right: 0;
}

/*** Page Transitions **/
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  background-color: $gray-dark;
  overflow: hidden;
}


.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}

.pt-page-content {
  max-width: 940px;
  margin: 30px auto 0 auto;
}


.pt-page.ng-enter, .pt-page.ng-leave {
  opacity:1;
}

.pt-page.ng-enter card-list {
  display:none;
}
.dominion-icon-select {
  padding-top: 10px;
  margin: 0 7px;
  position: relative;
  height: 84px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.dominion-icon-select .icon-text {
  font-size: .84rem;
  position: absolute;
  left:0; right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}
.dominion-icon-select svg{
  padding-bottom: 14px;
  height: 60px;
  width: 60px;
  fill: $gray-dark;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.dominion-icon-select:hover .icon-text {
  opacity: 1;
}
.dominion-icon-select:hover svg {
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
  fill: #000000;
}

.dominion-icon-select.selected {
  padding-top: 9px;
  border: 1px solid $brand-success;
}
.dominion-icon-select.selected .icon-text {
  color: $brand-success;
  opacity: 1;
}
.dominion-icon-select.selected svg{
  fill: $brand-success;
}
/*.card-desc {
  display: none;
}

.card-desc.show-card {
  display: inline-block;
}*/


/*#welcome.inventory.ng-enter {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}
#welcome.advancedOptions.ng-enter {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}*/

#welcome.ng-enter {
  -webkit-animation: scaleUp .6s both ease;
  animation: scaleUp .6s both ease;
}
#welcome.ng-leave {
  -webkit-animation: scaleDown .6s both ease;
  animation: scaleDown .6s both ease;
}

#advancedOptions.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}
#advancedOptions.ng-leave {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}

#inventory.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}
#inventory.ng-leave {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

#playset.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromTop .6s both ease;
  animation: moveFromTop .6s both ease;
}

#playset.ng-leave {
  -webkit-animation: moveTopTop .6s both ease;
  animation: moveToTop .6s both ease;
}